# Ignore all
*

# Avoid ignoring directory
!*/

# Avoid ignoring some suffix
!*.css
!*.conf
!*.gradle
!*.gif
!*.html
!*.ini
!*.java
!*.jpg
!*.js
!*.jsp
!*.png
!*.properties
!*.sh
!*.sql
!*.xml

# Avoid ignoring default file
!.gitignore
!LICENSE
!README.md
!Dockerfile
!.travis.yml

# Ignore some directory
.*/
gradle/
target/
